* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: 10px;
    background-color: #444;
    color: #fff;
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

#content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#canvasWrapper {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: calc(100vh - 20px);
    overflow: scroll;
    position: relative;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;

    div::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

menu,
menu > section,
.items {
    display: flex;
    flex-direction: column;
    background-color: #222;
}

menu {
    width: 200px;
    color: #fff;
    align-items: center;
    justify-content: flex-start;
    background-color: #222;
}

menu > section {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.dropdownHeader {
    display: flex;
    background-color: #444;
    padding: 7.5px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdownHeader > p, .dropdownHeader > label {
    margin-left: 10px;
}

.dropdownMenu {
    display: none;
}

.items {
    margin-top: 5px;
}

.items > span {
    padding: 5px 0;
    border-bottom: 0.25px solid #444;
    position: relative;
    align-items: center;
}

.items * {
    background-color: #222;
    color: #bbb;
    padding: 0;
}

.icon {
    transition-duration: 0.1s;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    list-style: none;
}

li {
    display: flex;
    margin: 4px 0;
    position: relative;
}

.selectable {
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.slider > span {
    margin-right: 5px;
}

li > input {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#stackedEntities, #textHighlighted {
    color: #4e9abc;
}

.check {
    position: absolute;
    right: 5px;
    height: 18px;
    width: 40px;
    background-color: #0C1121;
    border-radius: 50px;
    box-shadow: inset -1px -1.5px 1px rgba(150, 150, 150, 0.25);
    transition: 0.1s ease-in;
}

.check::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    display: block;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.1s ease-in;
}

input:checked + .check{
  background-color: #4e9abc;
}
input:checked + .check::before{
  transform: translateX(22px);
}

#export,
#fileInput {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="color"] {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

input[type="range"] {
    width: 80px;
    height: 5px;
    border-radius: 50px;
    outline: none;
    background: #444;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #fff;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}